*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

span{
    display: inline-block;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

button{
    cursor: pointer;
    color: white;
    background-color: #0061FF;
    text-decoration: none;
    border-style: none;
    height: 40px;
    padding: 10px 15px 10px 15px;
}

nav{
    height: 80px;
    width: 100%;
}

nav .ul{
    list-style: none;
}

nav li{
    padding: 0px 20px 0px 20px;
    display: inline-block;
    margin-top: 30px;
}

nav img{
    vertical-align: middle;
}

.container, .big-container{
    max-width: 1500px;
    margin: 0 auto;
}

.bg{
    background-color: #B4D0E7;
}

.bg{
    height: 600px;
    width: 100%;
}

.header-aside{
    margin-top: 30px;
    width: 30%;
}

.header-img{
    width: 70%;
}

.header-img img{
    width: 100%;
}

.header-aside button{
    margin-top: 30px;
    margin-bottom: 10px;
}

.arrow{
    margin-top: 40px;
    font-weight: bold;
    font: 30px;
}

.container h1{
    margin-top: 30px;
    font-weight: bold;
    font-size: 70px;
}

.selling{
    width: 100%;
}
.big-container{
    margin-top: 250px;
    max-width: 1200px;
}

.intro span, .operations h2, .company-intro h2{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 25px;
    display: inline-block;
}

.intro .button1, .intro .button2{
    display: inline-block;
    font-weight: bold;
}

.intro .button1{
    margin-right: 15px;
}

.business-plan{
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
}

.business-plan-middle{
    margin-right: 20px;
    margin-left: 20px;
    width: calc(100% / 3 - 40px);
}
.business-plan-right{
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
}

.selling .clearfix{
    width: 100%;
}

[class^=business-plan]{
    border: 2px solid #E0E0E0;
}

.innerplan{
    height: 800px;
    padding: 30px;
}
.intro{
    margin-bottom: 40px;
}

.btitle{
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-bottom: 2px solid #E0E0E0;
    font-weight: bold;
}

.fa-user:before, .fa-user-friends:before, .fa-check:before, .fa-folder:before, .fa-user-plus:before, .fa-smile-beam:before, .fa-pen:before{
    margin-right: 10px;
}

.sub-details{
    color: #728285;
}

.imp-things, .price, .sub-type{
    font-weight: bold;
    font-size: 20px;
}

.innerplan > * {
    margin-bottom: 15px;
}

.buynow, .goclients{
    color: #0061FF;
}

.innerplan ul li{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.innerplan hr{
    width: 50px;
}
.trial{
    text-align: center;
}

ul{
    list-style: none;
}

.personal-selling{
    border: 2px solid #E0E0E0;
    margin-top: 30px;
}

.ptitle{
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-bottom: 2px solid #E0E0E0 ;
}

.contact-details{
    padding: 20px 20px 0px 20px;
}

.contact-details *{
    margin-bottom: 20px;
}

.contact{
    padding: 20px;
}

.contact-details span:nth-of-type(1), .contact-details span:nth-of-type(2){
    font-weight: bold;
}

.contact-details span:first-child{
    font-size: 20px;
}

.partner{
    margin-top: 100px;
}

.partner-img img{
    width: 100%;
}

.partner-img, .partner-section{
    width: 50%;
}

.partner-img{
    padding-right: 50px;
}

.partner-section{
    padding-left: 50px;
}

.partner-section *{
    margin-bottom: 25px;
}

.partner-section h4, .operations h4{
    font-size: 25px;
}

.operations h4{
    margin-bottom: 25px;
}

.operations{
    margin-top: 100px;
}

[class^=operation-number]{
    width: calc(100% / 3 - 50px);
    height: 500px;
    margin-bottom: 50px;
}

[class^=operation-number] img{
    width: 100%;
}

[class^=operation-number-left]{
    margin-right: 25px;
}

[class^=operation-number-middle]{
    margin-right: 25px;
    margin-left: 25px;
}

[class^=operation-number-right]{
    margin-left: 25px;
}

.company-intro{
    margin-top: 80px;
    margin-bottom: 50px;
}

.company-intro .goclients{
    font-size: 20px;
}

[class^=square-]{
    width: calc(100% / 3);
    height: 500px;
    background-color: #F5F5F5;
}

[class^=lcompany]{
    width: 50%;
    height: 50%;
    background-color: #fff;
    position: relative;
}  

.lcompany1{
    background-color: #A2D39B;
}

.lcompany2{
    background-color: #61082B;
}

.lcompany3{
    background-color: #0093CE;
}

.lcompany4{
    background-color: #FF1C1C;
}

[class^=lcompany] img{
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[class^=lcompany]:hover{
    border: 10px solid rgba(0, 0, 0, 0.2);
}

.lcompany5{
    background-color: #D5001F;
}

.lcompany6{
    background-color: #B4D0E7;
}

.lcompany6 img{
    width: 60%;
}
.lcompany7{
    background-color: #0D2481;
}

.lcompany8{
    background-color: #FFD830;
}

.squaremiddle-img img{
    width: 30%;
    margin: 80px 0px 40px 40px;
}

.squaremiddle-img hr{
    color: #D0D0D3;
    width: 60px;
    margin-left: 40px;
}

.squaremiddle-img div span{
    margin: 60px 20px 0px 20px;
}

.lcompany1:hover .squaremiddle-img div span{
    content: "ciao";
}

