*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

span{
    display: inline-block;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

button{
    color: white;
    background-color: #0061FF;
    text-decoration: none;
    border-style: none;
    height: 40px;
    padding: 10px 15px 10px 15px;
}

nav{
    height: 80px;
    width: 100%;
}

nav .ul{
    list-style: none;
}

nav li{
    padding: 0px 20px 0px 20px;
    display: inline-block;
    margin-top: 30px;
}

nav img{
    vertical-align: middle;
}

.container, .big-container{
    max-width: 1500px;
    margin: 0 auto;
}

.bg{
    background-color: #B4D0E7;
}

.bg{
    height: 600px;
    width: 100%;
}

.header-aside{
    margin-top: 30px;
    width: 30%;
}

.header-img{
    width: 70%;
}

.header-img img{
    width: 100%;
}

.header-aside button{
    margin-top: 30px;
    margin-bottom: 10px;
}

.arrow{
    margin-top: 40px;
    font-weight: bold;
    font: 30px;
}

.container h1{
    margin-top: 30px;
    font-weight: bold;
    font-size: 70px;
}

.selling{
    width: 100%;
}
.big-container{
    margin-top: 250px;
    max-width: 1200px;
}

.intro span{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 25px;
    display: inline-block;
}

.intro .button1, .intro .button2{
    display: inline-block;
}

.intro .button1{
    margin-right: 15px;
}

.business-plan{
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
}

.business-plan-middle{
    margin-right: 20px;
    margin-left: 20px;
    width: calc(100% / 3 - 40px);
}
.business-plan-right{
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
}

.selling .clearfix{
    width: 100%;
}

[class^=business-plan]{
    border: 2px solid #E0E0E0;
}

.innerplan{
    padding: 30px;
}
.intro{
    margin-bottom: 40px;
}

.btitle{
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-bottom: 2px solid #E0E0E0;
    font-weight: bold;
}

.fa-user:before, .fa-user-friends:before, .fa-check:before{
    margin-right: 10px;
}

.sub-details{
    color: #728285;
}

.imp-things, .price, .sub-type{
    font-weight: bold;
    font-size: 20px;
}

.innerplan > * {
    margin-bottom: 20px;
}

.buynow{
    color: #0061FF;
}

.innerplan ul li{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

.personal-selling{
    margin-top: 30px;
}

.partner{
    margin-top: 100px;
}

.partner-img img{
    width: 100%;
}

.partner-img, .partner-section{
    width: 50%;
}

.partner-img{
    padding-right: 50px;
}

.partner-section{
    padding-left: 50px;
}

.operations{
    margin-top: 100px;
}

[class^=operation-number]{
    width: calc(100% / 3 - 50px);
    height: 450px;
    margin-bottom: 50px;
}

[class^=operation-number] img{
    width: 100%;
}

[class^=operation-number-left]{
    margin-right: 25px;
}

[class^=operation-number-middle]{
    margin-right: 25px;
    margin-left: 25px;
}

[class^=operation-number-right]{
    margin-left: 25px;
}