*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

nav{
width: 100%;
}

nav .ul{
    list-style: none;
}

nav li{
    display: inline-block;
}

.container, .big-container{
    max-width: 1500px;
    margin: 0 auto;
}

.bg{
    background-color: #B4D0E7;
}

.bg{
    height: 500px;
    width: 100%;
}

.header-aside{
    width: 30%;
}

.header-img{
    margin-top: 100px;
    width: 70%;
}

.header-img img{
    width: 100%;
}

.container h1{
    text-align: center;
}

.selling{
    width: 100%;
}
.big-container{
    margin-top: 250px;
    max-width: 1200px;
}

.business-plan{
    background-color: brown;
    height: 500px;
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
}

.business-plan-middle{
    background-color: brown;
    height: 500px;
    margin-right: 20px;
    margin-left: 20px;
    width: calc(100% / 3 - 40px);
}
.business-plan-right{
    background-color: brown;
    height: 500px;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
}

.selling .clearfix{
    width: 100%;
}

[class^=business-plan]{
    border: 5px solid grey;
}

.intro{
    margin-bottom: 40px;
}

.btitle{
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-bottom: 5px solid grey;
}

ul{
    list-style: none;
}

.personal-selling{
    margin-top: 30px;
}